<style>
    #back{
        background-image: url("../../assets/Bank4.jpg");
        height: 100%;
    }
</style>
<div id="back">
<div class="container" >
    <br>    
   <!-- <div class="row">
       <img  class="img-fluid" style="height: 350px;" src="../../assets/Bank2.jpg" alt="">
   </div>  -->

<div class="row">
<div class="col-lg-1"></div>     
<!-- <div class="col-lg-4"> -->
    <!-- <img  class="img-fluid" src="../../assets/Bank2.jpg" alt="">  -->
<!-- </div>     -->
<div class="col-lg-2 pt-3 bg-white">
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;" class="text-info ">Basic</h1>
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;" class="text-info "> Banking</h1>
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;" class="text-info ">System</h1>
</div>    
<div class="col-lg-2"></div>    
</div>  
 <div class="row mt-5">
           <div class="col-lg-6">
               <div class="row">
                   <div class="col-lg-2"></div>
                   <div class="col-lg-8">
                       <div class="card m-2" routerLink="/customer">
                           <img class="img-thumbnail img-fluid" src="../../assets/Bank1.jpg" alt="">
                           <button routerLink="/customer" class="card-text btn btn-warning btn-block">Customer Details</button>
                       </div> 
                   </div>
                   <div class="col-lg-2"></div>
               </div>
           </div>
           <div class="col-lg-6">
               <div class="row">
                   <div class="col-lg-2"></div>
                   <div class="col-lg-8">
                       <div class="card m-2" routerLink="/history">
                           <img class="img-thumbnail img-fluid" src="../../assets/Bank3.jpg" alt="">
                           <button routerLink="/history" class="btn btn-warning btn-block">Transaction History</button>
                       </div>
                   </div>
                   <div class="col-lg-2"></div>
               </div>
           </div>
       </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="card text-center bg-info fixed-bottom" > 
       <div class="card-footer text-white">
         <span> &copy;</span> 2021 | The Sparks Foundation | Basic Banking System | Jai Singhal 
       </div>
   </div>
</div>
   <!-- style="left: 0; bottom: 0; width: 100%;" -->